<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_hande">
  <xacro:arg name="name" default="RobotiqGripperHandeHardwareInterface"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="com_port" default="/dev/ttyACM0" />
  <xacro:arg name="finger_xacro" default="fngr_v2_m" />

  <xacro:property name="finger_type_prop" value="$(arg finger_xacro)" />

  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande.xacro"/>

  <link name="world"/>

  <xacro:robotiq_hande name="$(arg name)" tf_prefix="$(arg tf_prefix)" parent="world" use_fake_hardware="$(arg use_fake_hardware)" com_port="$(arg com_port)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_hande>

  <!--If statements for the various types of gripper fingers-->
  <xacro:if value="${finger_type_prop == 'fngr_nail_v2'}">
    <xacro:include filename="$(find dextivr_hande_description)/urdf/hande_fingers_fngr_nail_v2.xacro"/>
    <xacro:include filename="$(find dextivr_hande_description)/urdf/fngr_nail_v2_grasp_push_frames.xacro"/>
  </xacro:if>

  <xacro:if value="${finger_type_prop == 'fngr_v2_m'}">
    <xacro:include filename="$(find dextivr_hande_description)/urdf/hande_fingers_v2_m.xacro"/>
    <xacro:include filename="$(find dextivr_hande_description)/urdf/fngr_v2_m_grasp_push_frames.xacro"/>
  </xacro:if>

  <!--Run the xacros from the files included above-->
  <xacro:hande_fingers name="$(arg name)" tf_prefix="$(arg tf_prefix)"/>
  <xacro:grasp_push_frames name="$(arg name)" tf_prefix="$(arg tf_prefix)"/>

</robot>
