<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_hande">
  <xacro:arg name="name" default="RobotiqGripperHandeHardwareInterface"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="com_port" default="/dev/ttyACM0" />
  <xacro:arg name="finger_xacro" default="fngr_v6" />
  <xacro:arg name="marker_opacity" default="0.1" />

  <xacro:property name="finger_type_prop" value="$(arg finger_xacro)" />

  <xacro:include filename="$(find dextivr_hande_description)/urdf/dextivr_hande.xacro"/>

  <link name="world"/>

  <xacro:dextivr_hande
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    use_fake_hardware="$(arg use_fake_hardware)"
    com_port="$(arg com_port)"
    finger_xacro="$(arg finger_xacro)"
    marker_opacity="$(arg marker_opacity)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dextivr_hande>

</robot>
