<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grasp_push_frames" params="
    name:=''
    tf_prefix:=''
    marker_opacity:=0.25
    grasp_distance:=${(170.350-8)/1000.0}
    finger_length:=0.0730250
    push_marker_size:=0.005">

    <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_red_marker">
      <color rgba="1.0 0 0 ${marker_opacity}"/>
    </material>

    <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_green_marker">
      <color rgba="0 1.0 0 ${marker_opacity}"/>
    </material>

    <link name="${tf_prefix}grasp_frame">
      <visual>
        <geometry>
          <sphere radius="0.007"/>
        </geometry>
        <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_green_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}grasp_frame_joint" type="fixed">
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}grasp_frame"/>
      <origin xyz="0.0 0.0 ${grasp_distance}" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}push_frame_1">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 4}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 2}"/>
        </geometry>
        <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_red_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}push_frame_1_joint" type="fixed">
      <parent link="${tf_prefix}finger_1_link"/>
      <child link="${tf_prefix}push_frame_1"/>
      <origin xyz="0.0041 0.00325 ${finger_length}" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}push_frame_2">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 4}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 2}"/>
        </geometry>
        <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_red_marker"/>        
      </visual>
    </link>

    <joint name="${tf_prefix}push_frame_2_joint" type="fixed">
      <parent link="${tf_prefix}finger_2_link"/>
      <child link="${tf_prefix}push_frame_2"/>
      <origin xyz="0.0041 0.00325 ${finger_length}" rpy="0 0 ${pi}"/>
    </joint>

    <link name="${tf_prefix}center_push_frame">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 4}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 2}"/>
        </geometry>
        <material name="${tf_prefix}fngr_v2_m_grasp_push_frames_red_marker"/>
      </visual>
    </link>

    <!-- The 0.01 is for the finger mount offset -->
    <joint name="${tf_prefix}center_push_frame_joint" type="fixed">
      <parent link="${tf_prefix}gripper_palm_link"/>
      <child link="${tf_prefix}center_push_frame"/>
      <origin xyz="0.0 0.0 ${finger_length + 0.0017}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
