<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grasp_push_frames" params="
    name:=''
    tf_prefix:=''
    marker_opacity:=0.25
    grasp_distance:=0.148
    finger_length:=0.0605
    push_marker_size:=0.01">

    <link name="${tf_prefix}grasp_frame">
      <visual>
        <geometry>
          <sphere radius="0.007"/>
        </geometry>
        <material name="${tf_prefix}green_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}grasp_frame_joint" type="fixed">
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}grasp_frame"/>
      <origin xyz="0.0 0.0 ${grasp_distance}" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}push_frame_1">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 8}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 4}"/>
        </geometry>
        <material name="${tf_prefix}red_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}push_frame_1_joint" type="fixed">
      <parent link="${tf_prefix}finger_1_link"/>
      <child link="${tf_prefix}push_frame_1"/>
      <origin xyz="0.0 ${finger_length} -0.003" rpy="${-pi/2} ${pi} 0"/>
    </joint>

    <link name="${tf_prefix}push_frame_2">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 8}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 4}"/>
        </geometry>
        <material name="${tf_prefix}red_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}push_frame_2_joint" type="fixed">
      <parent link="${tf_prefix}finger_2_link"/>
      <child link="${tf_prefix}push_frame_2"/>
      <origin xyz="0.0 ${finger_length} -0.003" rpy="${-pi/2} 0 0"/>
    </joint>

    <link name="${tf_prefix}center_push_frame">
      <visual>
        <origin xyz="0.0 0.0 ${push_marker_size / 8}" rpy="0 0 0"/>
        <geometry>
          <box size="${push_marker_size} ${push_marker_size} ${push_marker_size / 4}"/>
        </geometry>
        <material name="${tf_prefix}red_marker"/>
      </visual>
    </link>

    <joint name="${tf_prefix}center_push_frame_joint" type="fixed">
      <parent link="${tf_prefix}gripper_palm_link"/>
      <child link="${tf_prefix}center_push_frame"/>
      <origin xyz="0.0 0.0 ${finger_length}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
