<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="hande_fingers" params="
    name:=''
    tf_prefix:=''
    mount_x:=0.0
    mount_y:=0.0032
    mount_z:=0.099
    mount_roll:=${pi/2}
    mount_pitch:=0.0
    mount_yaw:=${pi}
    scale:=0.001">

    <link name="${tf_prefix}finger_1_link">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
      <visual>
          <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://dextivr_hande_description/meshes/visual/hande_fngr_nail_v2.stl" />
          </geometry>
          <material name="${tf_prefix}dark_gray"/>
      </visual>
      <collision>
          <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://dextivr_hande_description/meshes/collision/hande_fngr_nail_v2.stl"/>
          </geometry>
          <material name="${tf_prefix}dark_gray"/>
      </collision>
    </link>

    <link name="${tf_prefix}finger_2_link">
      <!--TODO set proper inertia-->
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
      <visual>
          <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://dextivr_hande_description/meshes/visual/hande_fngr_nail_v2.stl"/>
          </geometry>
          <material name="${tf_prefix}dark_gray"/>
      </visual>
      <collision>
          <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://dextivr_hande_description/meshes/collision/hande_fngr_nail_v2.stl"/>
          </geometry>
          <material name="${tf_prefix}dark_gray"/>
      </collision>
    </link>

    <joint name="${tf_prefix}finger_1_joint" type="prismatic">
      <origin rpy="${mount_roll} ${mount_pitch} ${mount_yaw}" xyz="${mount_x} ${mount_y} ${mount_z}"/>
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}finger_1_link"/>
      <axis xyz="1 0 0"/>
      <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
    </joint>

    <joint name="${tf_prefix}finger_2_joint" type="prismatic">
      <origin rpy="${mount_roll} ${mount_pitch} ${mount_yaw + pi}" xyz="${mount_x} ${-mount_y} ${mount_z}"/>
      <parent link="${tf_prefix}gripper_base_link"/>
      <child link="${tf_prefix}finger_2_link"/>
      <axis xyz="1 0 0"/>
      <limit effort="130" lower="0" upper="0.025" velocity="0.15"/>
      <mimic joint="${tf_prefix}finger_1_joint" multiplier="1" offset="0"/>
    </joint>

  </xacro:macro>
</robot>
